---
layout: default
---
{% if page.content and page.content != '' %}
{{ content }}
{% endif %}

<section>
  <div class="filter">
    <a class="filter__chip filter__chip--active" href="/blog/">Tümü · {{ site.posts | size }}</a>
    {% for topic in site.data.topics %}
      {% assign count = site.tags[topic.slug] | size %}
      <a class="filter__chip" href="/konu/{{ topic.slug }}/">{{ topic.title }} · {{ count }}</a>
    {% endfor %}
  </div>

  {% include post-table.html posts=site.posts show_topic=true %}
</section>
